asttokens==2.2.1
backcall==0.2.0
decorator==5.1.1
executing==1.2.0
ipython==8.8.0
jax==0.4.1
jaxlib==0.4.1
jedi==0.18.2
juliacall==0.9.10
juliapkg==0.1.9
matplotlib-inline==0.1.6
numpy==1.24.1
opt-einsum==3.3.0
pandas==1.5.2
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.36
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.14.0
python-dateutil==2.8.2
pytz==2022.7
scipy==1.10.0
semantic-version==2.10.0
six==1.16.0
stack-data==0.6.2
torch==1.13.1+cpu
traitlets==5.8.1
typing_extensions==4.4.0
wcwidth==0.2.5
